@import '../../../common/common.scss';

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120px;
	color: $white;
	img {
		height: 30px;
	}
	p {
		margin: 0;
		font-family: $font-body;
		font-size: $font-size-p;
		font-weight: normal;
	}
}

