@import '../../common/common.scss';

.fancy-accents {
	width: 100%;

	.top-accent-1 {
		position: absolute;
		top: -5px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .3;
		@include clip-path(polygon(0 0, 100% 0, 100% 100%, 0 0));

		@include breakpoint(sm) {
			top: -15px;
			height: 50px;
		}
	}

	.top-accent-2 {
		position: absolute;
		top: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .7;
		@include clip-path(polygon(0 0, 100% 0, 100% 0, 0 100%));

		@include breakpoint(sm) {
			top: -15px;
			height: 40px;
		}
	}

	.bottom-accent-1 {
		position: absolute;
		bottom: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .7;
		@include clip-path(polygon(0 100%, 100% 0, 100% 100%, 0 100%));

		@include breakpoint(sm) {
			bottom: -25px;
			height: 50px;
		}
	}

	.bottom-accent-2 {
		position: absolute;
		bottom: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .3;
		@include clip-path(polygon(0 0, 100% 100%, 100% 100%, 0 50%));

		@include breakpoint(sm) {
			bottom: -12px;
			height: 40px;
		}
	}
}
