@import '../../common/common.scss';

.process {
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 650px;
	position: relative;
	z-index: $layer-1;

	@include clip-path(polygon(0 0, 100% $slope/8, 100% 100%, 0 100% - $slope/8));

	@include breakpoint(sm) {
		@include clip-path(polygon(0 0, 100% $slope/4, 100% 100%, 0 100% - $slope/4));
	}

	h1 {
		color: $eggplant;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-size: 32px;
		margin-top: 92px;
		padding: 0 12px;

		@include breakpoint(sm) {
			font-size: 36px;
		}
	}

	.steps {
		display: flex;
		flex-direction: column;
		margin-bottom: 96px;
		max-width: 1200px;

		@include breakpoint(sm) {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			margin: 72px 24px 96px 24px;
		}

		.step {
			margin: 60px 12px;
		
			@include breakpoint(sm) {
				margin-top: 0;
			}
		}
	}
}
