@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';
@import '../../common/shapes.scss';

.process {
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 650px;
	position: relative;

	@include clip-path(polygon(0 0, 100% $slope/8, 100% 100%, 0 100% - $slope/8));

	@include breakpoint(sm) {
		@include clip-path(polygon(0 0, 100% $slope/4, 100% 100%, 0 100% - $slope/4));
	}

	.top-accent-1 {
		position: absolute;
		top: -5px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .3;
		@include clip-path(polygon(0 0, 100% 0, 100% 100%, 0 0));

		@include breakpoint(sm) {
			top: -15px;
			height: 50px;
		}
	}

	.top-accent-2 {
		position: absolute;
		top: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .7;
		@include clip-path(polygon(0 0, 100% 0, 100% 0, 0 100%));

		@include breakpoint(sm) {
			top: -15px;
			height: 40px;
		}
	}

	.bottom-accent-1 {
		position: absolute;
		bottom: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .7;
		@include clip-path(polygon(0 100%, 100% 0, 100% 100%, 0 100%));

		@include breakpoint(sm) {
			bottom: -25px;
			height: 50px;
		}
	}

	.bottom-accent-2 {
		position: absolute;
		bottom: -10px;
		height: 30px;

		width: 110%;
		background: $eggplant;
		opacity: .3;
		@include clip-path(polygon(0 0, 100% 100%, 100% 100%, 0 50%));

		@include breakpoint(sm) {
			bottom: -10px;
			height: 40px;
		}
	}

	h1 {
		color: $eggplant;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-size: 32px;
		margin-top: 92px;

		@include breakpoint(sm) {
			font-size: 36px;
		}
	}

	.steps {
		display: flex;
		flex-direction: column;
		margin-bottom: 96px;
		max-width: 1200px;

		@include breakpoint(sm) {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			margin: 72px 24px 96px 24px;
		}

		.step {
			margin: 60px 12px;
		
			@include breakpoint(sm) {
				margin-top: 0;
			}
		}
	}
}
