@import '../../../common/common.scss';

.lpi-copy {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	color: $logo-green;
	font-family: $font-body;

	padding: 48px 48px 78px 48px;
}
