@import '../../../common/common.scss';

.lpi-copy {
	color: $logo-green;
	font-family: $font-body;
	position: relative;

	margin-top: 48px;

	@include breakpoint(sm) {
		margin-top: 96px;
	}

	.fancy-background {
		z-index: $layer-0;
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 48px 48px 78px 48px;

		z-index: $layer-1;
	}
}
