@import '../../../common/common.scss';

.page {
	display: flex;	
	flex-direction: column;
	background: $light-grey;
	font-family: $font-body;
	.text-info {
		text-align: center;	

		h2 {
			margin-top: 48px;
			margin-bottom: 24px;
		}
		.categories {
			margin-top: 12px;
		}
	}	
	.images-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 24px;

		.preview-wrapper {
			margin: 48px 12px;
			width: 100%;

			@include breakpoint(sm) {
				width: 30%;
			}

			h4 {
				margin: 0;
				font-family: $font-body;
			}
			.preview {
				height: 750px;
				margin-top: 12px;
				overflow: scroll;
				@include box-shadow(-7px 12px 20px -1px rgba(0,0,0,0.36));
			}
		}
	}
}
