@import '../../../common/common.scss';

.page {
	display: flex;	
	flex-direction: column;
	
	.images-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 24px;

		.screenshot {
			width: 25%;
			height: 750px;
			margin: 48px 24px;
			overflow: scroll;

			@include box-shadow(-7px 12px 20px -1px rgba(0,0,0,0.36));
		}
	}
}
