@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.button-cta {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $logo-green;
	font-family: $font-body;
	font-weight: bold;
	border: 1px solid $logo-green;
	text-decoration: none;
	color: $eggplant;
	border-radius: 24px;

	font-size: 16px;
	height: 48px;
	padding: 0 32px;

	@include breakpoint(xxs) {
		font-size: $font-size-h2;
		height: 72px;
		border-radius: 48px;
	}

	&:hover {
		background: $hover-green;
		color: #1b1b33;
	}
}
