@import '../../../common/common.scss';

.button-cta {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-body;
	font-weight: bold;
	text-decoration: none;
	border-radius: 6px;

	font-size: 24px;
	height: 52px;
	padding: 0 32px;

	border: 1px solid $logo-green;

	@include transition(all .25s);

	&.primary {
		background: $logo-green;
		color: $eggplant;

		&:hover {
			border: 1px dashed $eggplant;
			@include transform(translateY(-6px));
		}
	}

	&.secondary {
		background: $eggplant;
		color: $logo-green;

		&:hover {
			border: 1px dashed $logo-green;
			@include transform(translateY(-6px));
		}
	}	
}
