@import '../../../common/common.scss';

.lpi-header {
	background: $eggplant;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;

	height: 64px;
	padding: 0 24px;

	@include breakpoint(sm) {
		padding: 0 64px;
		height: 64px;
	}

	.logo-container {
		display: flex;
		flex-direction: row;
		align-content: center;
		height: 24px;

		.wordmark {
			z-index: $layer-1;

			height: 32px;
			margin-bottom: 0;
		}
	}

	.buttons {
		display: flex;
		flex-direction: row;
		margin-left: auto;

		.primary {
			display: none;

			@include breakpoint(md) {
				display: flex;
			}
		}

		.button-cta {
			margin-right: 12px;
			font-size: $font-size-p;
			height: 42px;

			&:hover {
				@include transform(none);
			}
		}
	}
}
