@import '../../../common/common.scss';

.process {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
	z-index: $layer-1;

	h1 {
		color: $logo-green;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		text-align: center;
		font-size: 24px;
		margin-top: 92px;
		padding: 0 12px;

		@include breakpoint(xs) {
			font-size: 32px;
		}

		@include breakpoint(sm) {
			font-size: 36px;
		}
	}

	.steps {
		display: flex;
		flex-direction: column;
		max-width: 1200px;

		@include breakpoint(sm) {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			margin: 72px 24px 0px 24px;
		}

		.step {
			margin: 60px 12px;
		
			@include breakpoint(sm) {
				margin-top: 0;
			}
		}
	}
}
