@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.splash {
	background: $eggplant;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 500px;
	padding: 0 24px;

	.logo {
		margin-top: 64px;
		height: 64px;
	}

	h1.tagline, h1.biline {
		color: $white;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-family: $font-body;
	}

	h1.tagline {
		font-weight: bold;
		margin-top: 24px;
		font-size: 32px;
	}

	h1.biline {
		font-weight: normal;
		font-size: 24px;
	}

	.button-cta {
		z-index: 1;
		margin-top: 32px;
	}

	@keyframes dash {
		to {
			stroke-dashoffset: -80;
		}
	}
}
