@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.splash {
	background: $eggplant;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
	padding: 0 24px;

	.logo {
		margin-top: 64px;
		height: 64px;

		@include breakpoint(sm) {
			height: 128px;
		}
	}

	h1.tagline, h1.biline {
		color: $white;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-family: $font-body;
	}

	h1.tagline {
		font-weight: bold;
		margin-top: 24px;
		font-size: 32px;

		@include breakpoint(sm) {
			margin-top: 48px;
			font-size: 64px;
		}
	}

	h1.biline {
		font-weight: normal;
		font-size: 24px;

		@include breakpoint(sm) {
			font-size: 48px;
		}
	}

	.button-cta {
		margin-top: 32px;

		@include breakpoint(sm) {
			margin-top: 48px;
		}
	}
}
