@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';
@import '../../common/shapes.scss';

.splash {
	background: $eggplant;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;


	// Mobile Responsiveness
	height: 300px;

	@include breakpoint(xxs) {
		height: 480px;
	}

	@include breakpoint(sm) {
		height: 680px;
	}

	.logo {
		margin-top: 48px;
		height: 128px;
	}

	h1.tagline, h1.biline {
		color: $white;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-family: $font-body;

		@include breakpoint(xxs) {
			font-size: $font-size-display;
		}
	}

	h1.tagline {
		margin-top: 48px;
		font-weight: bold;
		font-size: 64px;
	}

	h1.biline {
		font-weight: normal;
		font-size: 48px;
	}

	.button-cta {
		margin-top: 32px;
		font-family: $font-body;
		font-weight: bold;

		@include breakpoint(xxs) {
			margin-top: 48px;
		}
	}
}
