@import '../../../common/animations.scss';
@import '../../../common/breakpoints.scss';
@import '../../../common/colors.scss';
@import '../../../common/fonts.scss';

.quote {
	width: 360px;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	p.text {
		margin: 0;
		font-family: $font-body;
		font-size: $font-size-p;
		line-height: $line-height;
	}
	.info {
		line-height: $line-height;
		text-align: right;
		margin-top: 12px;
		.personal-info {
			.name {
				margin: 0;
				font-family: $font-logo;
			}
			p {
				margin: 0;
				font-family: $font-body;
				font-size: $font-size-p;
			}
		}
	}
}
