@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.pricing {
	background: $eggplant;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
	padding: 48px 24px;

	h1.tagline {
		color: $logo-green;
		font-weight: normal;
		display: flex;
		flex-direction: row;
		font-family: $font-body;
		font-size: 32px;
	}

	.pricing-cards {
		display: flex;
		flex-direction: column;

		@include breakpoint(sm) {
			flex-direction: row;
			margin: 24px;
		}
	}

	p.or {
		color: $logo-green;
		font-family: $font-body;
		font-size: 24px;
		align-self: center;
		margin: 24px;
	}

	.button-cta {
		z-index: 1;
		margin-top: 32px;
	}
}
