@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.contact {
	background: $eggplant;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 240px;

	@include breakpoint(xxs) {
		height: 480px;
	}


	h2 {
		color: $white;
		font-family: $font-body;
		font-weight: normal;
	}
}
