@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/shapes.scss';

.contact {
	background: $eggplant;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	// Slanted edge
  // @include clip-path(polygon(0 0, 100% $slope, 100% 100%, 0 100% - $slope));
  @include clip-path(polygon(0 0, 100% $slope, 100% 100%, 0 100%));
	
	// Mobile Responsiveness
	height: 240px;

	@include breakpoint(xxs) {
		height: 480px;
	}
}
