@import '../../common/common.scss';

.contact {
	background: $eggplant;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 480px;
	color: $white;
	position: relative;

	.cursor {
		color: $white;
	}

	h2 {
		font-family: $font-body;
		font-weight: normal;
		width: 100%;
		height: 24px;
		text-align: left;
		z-index: $layer-1;
		@include breakpoint(sm) {
			width: 604px;
		}
		span {
			display: inline-block;
		}	
	}

	.button-cta {
		z-index: $layer-1;
		margin-top: 48px;
	}
}
