@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.header {
	background: $eggplant;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;

	.logo-container {
		margin: 32px auto 12px 12px;
		display: flex;
		flex-direction: row;
		align-content: center;

		.logo {
			height: 32px;
			width: 32px;
		}

		.wordmark {
			height: 32px;
		}
	}
}
