@import '../../../common/common.scss';

.step {
	max-width: 360px;
	text-align: center;
	.icon {
		width: 100%;
		margin: auto;
		fill: $logo-green;
		text-align: center;
		svg {
			width: 84px;
			height: 84px;
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2.header {
			background: none;
			color: $logo-green;
			font-size: $font-size-p;
			font-family: $font-body;
			font-weight: bold;
			margin: 24px 0;
		}
		p.description {
			color: $logo-green;
			font-size: $font-size-p;
			font-family: $font-body;
			line-height: $line-height;
			margin-bottom: 0;
		}
	}
}
