@import '../../../common/animations.scss';
@import '../../../common/breakpoints.scss';
@import '../../../common/colors.scss';
@import '../../../common/fonts.scss';

.step {
	width: 360px;
	text-align: center;
	.icon {
		width: 100%;
		margin: auto;
		fill: $eggplant;
		text-align: center;
		svg {
			width: 84px;
			height: 84px;
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2.header {
			background: none;
			color: $eggplant;
			font-size: $font-size-p;
			font-family: $font-logo;
			margin: 24px 0;
		}
		p.description {
			color: $eggplant;
			font-size: $font-size-p;
			font-family: $font-body;
			line-height: $line-height;
			margin-bottom: 0;
		}
	}
}
