@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 240px;
	background: $eggplant;
	color: $white;
	font-family: $font-body;
	font-size: $font-size-p;
	img {
		height: 120px;
	}
	p {
		margin: 0;
	}
}

