@import '../../common/animations.scss';
@import '../../common/breakpoints.scss';
@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.testimonials {
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;

	h1 {
		color: $eggplant;
		font-weight: normal;
		display: flex;
		flex-direction: row;

		font-size: 48px;

		@include breakpoint(xxs) {
			font-size: $font-size-h1;
		}
	}
	
	h1.hero {
		display: none;

		@include breakpoint(sm) {
			display: block;
		}

		margin-top: 72px;
	}

	h1.mobile {
		display: block;

		@include breakpoint(sm) {
			display: none;
		}

		margin-left: 24px;
		margin-top: 48px;
	}

	.quotes {
		display: flex;
		flex-direction: column;
		margin-bottom: 96px;

		@include breakpoint(sm) {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			margin: 72px 24px 96px 24px;
		}

		.quote {
			margin-top: 60px;
			@include breakpoint(sm) {
				margin: 0;
			}
		}
	}
}
